<!DOCTYPE html>
<html>

<head>
    <title> </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body style="background-color: darksalmon;" class="text-center">
    <div class="container" style="background-color: pink;">
        <div class="row">
            {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %} {{ message }} {% endfor %} {% endif %} {% endwith %}

            <h1>Manjinder Song Explorer</h1>
            <h3>Looks like you don't have anything saved! Use the form below!</h3>
            <h2>Save a favorite artist id for later:</h2>
        </div>
        <br>

        <form method="POST" action="/index" autocomplete="on">
            <input type="text" name="artist_id" placeholder="Artist ID" required>
            <button type="submit" type="button" class="btn btn-default active">Submit</button>
        </form>

        <br>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>